@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');

body {
    margin: 0;
    background-color: #D4499A;
    font-family: 'Lexend Exa', sans-serif;
    color: white;
    scrollbar-color: #D4499A #f0f0f0;
    scrollbar-width: thin;
}

h1 {
    font-size: 3rem;
}

h3{
    margin-top: 40px;
}

section {
    margin: 10vh 10vw 10vh 10vw;
    text-align: justify;
}

section + img {
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

::-webkit-scrollbar{
    width: 0.4vw;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #D4499A;
}
::-webkit-scrollbar-thumb:hover {
    background: #e25caa;
}
::-webkit-scrollbar-thumb:active {
    background: #e25caa;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}