@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Lexend+Exa&display=swap');

body {
    margin: 0;
    background-color: #EEB81D;
    font-family: 'Lexend Exa', sans-serif;
    overflow-x: hidden;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    color: white;
}

.champ {
    margin-bottom: 2vh;
}

.container_2 {
    margin-top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    text-align: right;
}

label {
    font-size: 1.5rem;
    color: white;
    margin-right: 2vw;
}

input {
    width: 25vw;
    height: 4vh;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1.1rem;
    font-family: 'Lexend Exa', sans-serif;
    padding-left: 1vw;
}
input[id="cp"] {
    width: 5vw;
    margin-right: 20vw;
}
/* input:focus {
    background: #0B83C6;
    color: white;
} */
fieldset {
    display: none;
    border: 0px;
}

textarea {
    padding-left: 1vw;
    vertical-align: top;
    width: 25vw;
    height: 20vh;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 1.2rem;
    font-family: 'Lexend Exa', sans-serif;
}

textarea::placeholder {
    font-size: 1.2rem;
    font-family: 'Lexend Exa', sans-serif;
}

/* textarea:focus {
    background: #0B83C6;
    color: white;
} */
button {
    background-color: #BA8D0E;
    border: none;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 1.5rem;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    transition: 1s;
    text-align: center;
}

button:hover {
    background-color: white;
    color: black;
}