*, *::after, *::before{
	box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lexend Exa', sans-serif;

    overflow: hidden;

    position: relative;
}

a {
    text-decoration: none;
}

footer{
    position: absolute;
    bottom: 0px;
}

header{
    position: absolute;
    width: 100vw;
    margin-top: 0px;
}

/* button nav */

div.btnNav{
    position: fixed;
    top: 0;
    right: 0;
    width: 5vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;
}

div.btnNavContainer{
    height: 20%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.btnNav svg{
    margin-top: 10px;
    order: 2;
    cursor: pointer;
    pointer-events: all;
}

div.btnNavContainer .BtnNavPlainCircle{
    order: 1;
}

/* titles */
section>h1{
    /* margin-left: 20vw; */

    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: solid 8px black;
    font-size: 2rem;
    margin-top: 4vh;
    margin-bottom: 8vh;
}

/* sections - general properties */
section{
    height: 100vh;
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

@media (max-width: 1600px){
    section{
        width: 90vw;
    }
}

@media (max-width: 1100px){
    section{
        width: 97vw;
    }
}

section .container p{    
    padding-right: 30px;
    margin: 0px;
    max-width: 40%; 
    text-align: left;
}

section .container>img{
    width: 50%;
}

section .container{
    height: 60%;
}
section:nth-child(1) .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* PRESENTATION */

section:first-of-type h1:first-of-type{
    margin-top: 155px;
}

section:first-of-type{
    justify-content: flex-start;
}

section:first-of-type .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
}


/* METIERS */

section:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrousel_metiers {
    width: 70vw;
    height: 35vw;
    background-color: gray;
    position: relative;
}
.carrousel_metiers a {
    width: 14vw;
    height: 35vw;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw ;
    color: white;
    text-align: center;
    border: 2px solid white;
}
.carrousel_metiers a:nth-child(1) {
    left: 0;
    transition: 1s ease;
    z-index: 0;
}
.carrousel_metiers a:nth-child(2) {
    left: 14vw;
    transition: 1s ease;
    z-index: 0;
}
.carrousel_metiers a:nth-child(3) {
    left: 28vw;
    transition: 1s ease;
    z-index: 1;
}
.carrousel_metiers a:nth-child(4) {
    left: 42vw;
    transition: 1s ease;
    z-index: 0;
}
.carrousel_metiers a:nth-child(5) {
    left: 56vw;
    transition: 1s ease;
    z-index: 0;
}
.carrousel_metiers a:hover  {
    left: 0;
    width: 70vw;
    z-index: 100;
    font-size: 3vw;
}

/* Interview */
.interview2 {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.video{
    width: 40%;
    height: 100%;
}

.interview .description h2{
    font-weight: normal;
}

.interview .description{
    width: 30%;
    padding-right: 20px;
    text-align: justify;
    font-size: 1.2vw;
}

.interview{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 50%;
}

/* jeu */

section:nth-of-type(4){
    width: 100vw;
}