@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Lexend+Exa&display=swap');
body {
    margin: 0;
    font-family: 'Lexend Exa', sans-serif;

    overflow: hidden;

    position: relative;
}

a {
    text-decoration: none;
}

footer{
    position: absolute;
    bottom: 0px;
}

header{
    position: absolute;
    width: 100vw;
    margin-top: 0px;
}

/* button nav */

div.btnNav{
    position: fixed;
    top: 0;
    right: 0;
    width: 5vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.btnNavContainer{
    height: 20%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.btnNav svg{
    margin-top: 10px;
    order: 2;
    cursor: pointer;
}

div.btnNavContainer .BtnNavPlainCircle{
    order: 1;
}

/* titles */
section h1{
    /* margin-left: 20vw; */

    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: solid 8px black;
    font-size: 2rem;
    box-sizing: border-box;
    margin-top: 4vh;
    margin-bottom: 8vh;
}

section h1::first-letter{
    color: #1DB250;
}

/* sections - general properties */
section{
    height: 100vh;
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

@media (max-width: 1600px){
    section{
        width: 90vw;
    }
}

@media (max-width: 1100px){
    section{
        width: 97vw;
    }
}

section .container p{    
    padding-right: 30px;
    margin: 0px;
    max-width: 40%; 
    text-align: justify;
}

section img{
    background-color: gray;
    width: 40%;
}

section .container{
    height: 60%;
}
section:nth-child(1) .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* PRESENTATION */

section:first-of-type h1:first-of-type{
    margin-top: 155px;
}

section:first-of-type{
    justify-content: flex-start;
}

section:first-of-type .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

/* METIERS */

section:nth-of-type(2) .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.metierItem{
    height: 200px;
    width: 400px;
    margin: 20px;
    border-radius: 10px;
    background-color: #1DB250;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.7rem;
    transition: transform 0.3s ease-in-out;
}

.metierItem:hover{
    transform: scale(1.1);
}

.ligne1, .ligne2, .ligne3{
    display: flex;
    justify-content: space-around;
}

/* Interview */

.video{
    /* background-color: gray; */
    width: 50%;
    height: 100%;
}

.interview .description h2{
    font-weight: normal;
}

.interview .description{
    width: 30%;
    padding-right: 20px;
    text-align: justify;
}

.interview{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 50%;
}