body {
    background-color: #EEB81D;
    font-family: 'Lexend Exa', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

a:hover {
    text-decoration: underline;
    color: #50370a;
    font-weight: bold;
}