footer{
    width: 100vw;
    padding-top: 20px;
    height: fit-content;
}

footer .link_footer {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer .link_footer>a {
    color: black ;
    margin-top: 20px;
}
footer .link_footer>a:hover {
   color: #1DB250;
}
footer .color_footer {
    margin-top: 20px;
    display: flex;
}
footer .green, footer .pink, footer .blue, footer .yellow {
    width: 25%;
    height: 25px;
    float: left;
} 
footer .green {
    background-color: #1DB250;
}
footer .pink {
    background-color: #D4499A;
}
footer .blue {
    background-color: #0B83C6 ;
}
footer .yellow {
    background-color: #EEB81D;
}