@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Lexend+Exa&display=swap');
html, body {
    margin: 0;
    font-family: 'Lexend Exa', sans-serif;
    overflow-x: hidden;
    position: relative;
}

header{
    position: fixed;
    margin-top: 0px;
    width: 100vw;
    text-decoration: none;
}

.image {
    /* bgUrl from MetierColor */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vh;
}
section {
    width: 100vw;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 section .container {
    width: 80vw;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
}
.text_container {
    margin-left: 30px;
    margin-left: 4vw;
    width: fit-content;
    border-left: black 10px solid ;
}
section .container img {
    width: 88px;
    margin-left: 5vw;
}
footer {
    margin-top: 5vh;
}
h1 {
    color: white;
    font-size: 4vw;
}
h2 {
    text-align: center;
    margin-top: 10vw;
    font-size: 4vw;
    color: #1DB250;
}
h3 {
    font-size: 2vw;
    margin-left: 4vw;
}
h3::first-letter {
    font-size: 3.5vw;
}
section p {
    font-size: 1rem;
    margin-left: 4vw;
}

h4{
    margin-left: 4vw;
}
li {
    margin-left: 4vw;
}
ul{    
    margin-left: 4vw;
}

header a {
    text-decoration: none;
}

header a>p{
color: white;
text-align: center;
margin-top: 5px;
opacity: 0%;
transition: 0.5s ease-in-out;
border: none;
}