@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');

body {
    background-color: #1DB250;
    color: white;
    font-family: 'Lexend Exa', sans-serif;
    margin: 0;
    scrollbar-color: #1DB250 #f0f0f0;
    scrollbar-width: thin;
}

::-webkit-scrollbar{
    width: 0.4vw;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #1DB250;
}
::-webkit-scrollbar-thumb:hover {
    background: #2ac560;
}
::-webkit-scrollbar-thumb:active {
    background: #2ac560;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}

h1 {
    font-size: 3rem;
}
.section1 {
    margin: 10vh 10vw 10vh 10vw;
    text-align: justify;
}

.section2 {
    margin: 15vh 10vw 10vh 10vw;
}

section {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

section a{
    color: black;
    height: 5vh;
    width: 15vw;
    /* margin: 0 auto; */
    background-color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top:3vh;
    margin-right: 2vw;
    margin-top: 1.5vw;
    border-radius: 10px;
    text-decoration: none;
}

.nom div{
    display: inline-block;
    height: 5vh;
    width: 15vw;
    /* margin: 0 auto; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
}