input[type="search"]{
    background-color: black;
    outline: 0;
    border: 0;
    padding: 0.5vw 1vw;
    padding-right: 2.5vw;
    border-radius: 50px;
    width: 13vw;
    height: 2.25vw;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    position: relative;
}

input[type="search"]::-webkit-search-cancel-button{
    display: none;
}

input[type="search"]::placeholder{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75vw;
    opacity: 1; /* Firefox */
}
  
input[type="search"]::-ms-input-placeholder{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75vw;
}

.recherche{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.recherche>img{
    position: absolute;
    height: 1.25vw;
    right: 5%;
    transform: translateY(-50%);
    top: 50%;
    cursor: default;
    opacity: 0.5;
    transition: opacity 0.10s ease-in-out;
}

.propositions{
    position: absolute;
    top: 50%;
    height: 0;
    width: 13vw;
    background: black;
    z-index: 0;
    border-radius: 0 0 1vw 1vw;
    transition: height 0.25s ease-in-out;
    padding-top: 1vw;
    overflow: hidden;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.elemSearch:before{
	content: " ";
	position: absolute;
	top: -25%;
	left: 50%;
	height: 1px;
	width: 90%;
	background-color: white;
	transform: translateX(-50%);
}

.elemSearch{
    position: relative;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    text-decoration: none;
    transition: 0.25s ease-in-out;
}

.Audiovisuel:hover{
    color: #EEB81D;
}

.Communication:hover{
    color: #0B83C6;
}

.Design:hover{
    color: #D4499A
}

.Programmation:hover{
    color: #1DB250;
}