*, *::after, *::before{
	box-sizing: border-box;
}

.audiovisuel{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.audiovisuel>h1{
    margin-top: 5vh;
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
}

.audiovisuel>h1:first-letter{
    color: #EEB81D;
}

.audiovisuel>div{
	position: relative;
}

.audiovisuel>div>p{
    font-size: 1rem;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
}

.audiovisuel>div>p::before{
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
	height: 5px;
	width: 35rem;
	background-color: black;
	transform: translateX(-50%);
}

.jeuAudiovisuel{
	height: 37.5vw;
	width: 85vw;
	border: 5px solid rgb(20,20,20);
	border-radius: 0 0 25px 25px;
	background-color: rgb(37, 37, 37);
	overflow: hidden;
}
.nomLogi{
	width: 100%;
    font-family: 'Lexend Exa', sans-serif;
	font-size: 1vw;
	background: rgb(20,20,20);
	color: white;
	margin: 0;
	padding: 1%;
}

.preview{
	height: 50%;
	width: 100%;
	background-color: rgb(48, 48, 48);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.videoPrev{
	height: 90%;
}

.items{
	border-top: 5px solid rgb(20,20,20);
	height: 35%;
	background-color: rgb(37, 37, 37);
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
}

.toolbar{
	height: 6%;
	border-top: 5px solid rgb(20,20,20);
	background-color: rgb(25, 25, 25);
	display: flex;
	align-items: center;
	justify-content: center;
}

.pButton{
	height: 150%;
	transition: 0.5s ease-in-out;
}

.pButton>path{
	fill: white;
	transition: 0.25s ease-in-out;
}

.drag>img{
	height: 100%;
	touch-action: none;
	user-select: none;
}

.drag{
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.deroulement{
	list-style: none;
	text-align: center;
	padding: 0.25vw 0;
    font-family: 'Lexend Exa', sans-serif;
	font-size: 1vw;
	position: absolute;
	right: 1%;
	color: white;
	cursor: pointer;
	width: 1.2vw;
}

.deroulement>li{
	border-radius: 50%;
	background-color: #dda20000;
	transition: 0.25s ease-in-out;
}

.deroulement>li:hover{
	background-color: #dda200;
}