@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Lexend+Exa&display=swap');
body {
    margin: 0;
    font-family: 'Lexend Exa', sans-serif;
    overflow-x: hidden;
    position: relative;
}

header{
    position: absolute;
    height: 116px;
    width: 100vw;
    text-align: center;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: white;
}

.image {
    background-image: url("../medias/background_metier.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    width: 100vw;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    margin-top: 20vh;
    width: 80vw;
    height: 40vh;
    display: flex;
    align-items: center;
}
.text_container {
    margin-left: 30px;
    
    margin-left: 4vw;
    width: fit-content;
    border-left: black 10px solid ;
}
section .container img {
    width: 88px;
    margin-left: 5vw;
}
h1 {
    color: white;
    font-size: 4vw;
}
h2 {
    text-align: center;
    margin-top: 10vw;
    font-size: 4vw;
    color: #1DB250;
}
h3 {
    font-size: 2vw;
    margin-left: 4vw;
}
h3::first-letter {
    font-size: 3.5vw;
    color: #1DB250;
}
p {
    font-size: 1rem;
    margin-left: 4vw;
}

h4{
    margin-left: 4vw;
}

ul{    
    margin-left: 4vw;
}

::-moz-selection { 
    color: white;
    background: #1DB250;
  }
  
  ::selection {
    color: white;
    background: #1DB250;
  }